.gridCell {
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.empty {
  background-color: white;
}

.outside {
  background-color: gray;
}

.intersection {
  background-color: black;
}

.type1 {
  background-color: var(--type1color);
}

.type2 {
  background-color: var(--type2color);
}

.type3 {
  background-color: var(--type3color);
}

.type4 {
  background-color: var(--type4color);
}
